<html lang="en">
<body>
    <div class="scroll-up-btn show">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Services</a></li>
                <li><a href="#skills" class="menu-btn">Skills</a></li>
                <!-- <li><a href="#teams" class="menu-btn">Teams</a></li> -->
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, I am</div>
                <div class="text-2">Muhil</div>
                <div class="text-1">View my graphic design portfolio to explore my creative projects and expertise.
                </div>
            </div>
        </div>
    </section>
    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="./assets/Muhil.jpeg" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm Muhil<span class="typing-2"></span></div>
                    <p>i am a graphic designer with 3 years of experience in photoshop and illustrator, proficiency in printing and web images</p>
                    <a href="#" (click)="openPdf()">View Resume</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about1" id="services">
        <div class="max-width">
            <h2 class="title">My services</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="./assets/Photoshop.png" alt="">
                </div>
                <div class="column left">
                    <img src="./assets/Illustrator.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- skills section start -->
    <section class="contact" id="skills">
        <div class="max-width">
            <h2 class="title1">My skills</h2>
            <div class="contact-content">
                <div class="">
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-pen-nib" aria-hidden="true"></i>
                            <div class="info">
                                <div class="sub-title">Vectorize</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-palette"></i>
                            <div class="info">
                                <div class="sub-title">Color seperation</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-magic"></i>
                            <div class="info">
                                <div class="sub-title">Background removal</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-bezier-curve"></i>
                            <div class="info">
                                <div class="sub-title">Clipath, Hair masking</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-tshirt"></i>
                            <div class="info">
                                <div class="sub-title">Ghost mannequin</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            <div class="info">
                                <div class="sub-title">Retouch</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-paint-roller" aria-hidden="true"></i>
                            <div class="info">
                                <div class="sub-title">Color changes</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <div class="info">
                                <div class="sub-title">Mockup</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="icons" >
                    <div class="row" style="height:40px !important">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Vectorize</div>
                    </div>
                    <div class="row" style="height:40px !important">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Color seperation</div>
                    </div>
                    <div class="row" style="height:40px !important">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Background removal</div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Clipath, Hair masking
                        </div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Ghost mannequin</div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Retouch</div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Color changes</div>
                    </div>
                    <div class="row" style="height:40px">
                        <div class="head"><i class="fas fa-pen-nib" aria-hidden="true"></i>Mockup</div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- teams section start -->
    <!-- <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">My teams</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="./assets/Siva.jpeg" alt="">
                        <div class="text">Siva</div>
                        <p>Graphic Designer</p>
                    </div>
                </div>
                </div>
        </div>
    </section> -->
    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="">
                    <div class="icons">
                        <div class="col-6"></div>
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head"><b>Name</b></div>
                                <div class="sub-title">Muhilvanan</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head"><b>Address</b></div>
                                <div class="sub-title">The Tenkasi, India</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <div class="info">
                                <div class="head"><b>Mail id:</b></div>
                                <div class="sub-title">muhilvanan1999@gmail.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <div class="info">
                                <div class="head"><b>Phone:</b></div>
                                <div class="sub-title">+91 6381287772</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section start -->
    <footer>
        <span>Created By <a href="https://www.codingnepalweb.com">Muhil</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
    </footer>
</body>
</html>